<style>
:root {
  --fonts-proportional: "Ubuntu", "Cantarell", "Noto Sans", "Segoe UI", "Helvetica Neue", "Arial", sans-serif !important;
  --fonts-monospace: "IosevkaSS04 Nerd Font Mono", "Ubuntu Mono", "JetBrains Mono", "Fira Code", "Cascadia Code", "Source Code Pro", "Consolas", "Liberation Mono", monospace !important;
}
</style>
